@use '../abstracts/mixins';
html {
    font-family: var(--font-poppins);
}

body {
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: column;
}

.main-container {
    border: 3px solid red;
    width: 375px;
    margin: 0 auto 25px;
    @include mixins.desktop-view(1440px);
}