@use '../abstracts/mixins';
html {
    font-family: var(--font-poppins);
}

body,
 :root {
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}


/* .main-container {
    border: 3px solid red;
    width: 375px;
    margin: 0 auto 25px;
    min-height: 100vh;
    @include mixins.dx);
}esktop-view(1440p
 */

.main-container {
    display: block;
    margin: 0 auto 20px;
    // border: 3px solid red;
    /*    min-height: 100vh; */
  //  @include mixins.desktop-view(1440px, 100vh);
}