@use '../abstracts/mixins';
html {
    font-family: var(--font-poppins);
    font-size: 62.5%;
    @include mixins.media-up( md) {
        font-size: 100%;
    }
}

body,
 :root {
    /*   font-family: var(--font-poppins); */
    /*   display: flex; */
    /*     flex-direction: column; */
    /*   min-height: 100vh; */
}


/* .main-container {
    display: block;
} */