*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

buttons{
    border: none;
    background-color: none;
    font-family: var(--font-poppins);
}