@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,100;1,500&display=swap');


:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
}

    /* Colors */
    
    $main_fonts:#224F63;
    $secondary_fonts: #0B3F55;
    $secondary: #355F72;
    $main_background: #D3F0F4;
    $secondary_background: #3C99BA;
    $third_background:#A9CAD1;
    $color1:#94B7C0;
    $color2:#80A5B0;
    $color3:#6D93A0;
    $color4:#477081;
    $color5:#246688;
    $color6:#DB375A;
    $color7: #C4C31D;
    $color8: #0A3F58;
    $btns_color:#5A8190;
    $main_dark:#0C2435;
    $secondary_dark:#00101C;