@use '../base/variables';
@mixin laptop-view ($width:unset, $height: unset, $fn-size:unset, $top:unset) {
    @media (min-width: 760px) {
        width: $width;
        height: $height;
        font-size: $fn-size;
        top: $top;
    }
}

//mixin para cambiar orden de sections en desktop (GRID,COLUMNAS)
@mixin order-desktop($display:unset, $flex:unset, $heigth:unset, $justify:unset) {
    @media (min-width: 1280px) {
        display: $display;
        flex-direction: $flex;
        height: $heigth;
        justify-content: $justify;
    }
}

@mixin desktop-text($text-alig:unset, $border-color) {
    @media (min-width: 1280px) {
        text-align: $text-alig;
        border: 1px solid $border-color;
    }
}

@mixin desktop-view ($width, $height: unset, $fn-size:unset, $top:unset) {
    @media (min-width: 1280px) {
        width: $width;
        height: $height;
        font-size: $fn-size;
        top: $top;
    }
}

@mixin desktop-viewXXL($width, $height: unset, $fn-size:unset, $top:unset) {
    @media (min-width: 1440px) {
        width: $width;
        height: $height;
        font-size: $fn-size;
        top: $top;
    }
}

@mixin margins-desk( $marginb: unset, $top) {
    @media (min-width: 1440px) {
        margin-bottom: $marginb;
        top: $top;
    }
}

// especial para centrar, solo en casos especiales donde no se puede centrar
@mixin center($display:unset, $margin:unset, $fn-size) {
    @media (min-width: 1280px) {
        display: $display;
        margin: $margin;
        font-size: $fn-size;
    }
}

@mixin center-tablet($display:unset, $margin:unset, $fn-size) {
    @media (min-width: 665px) {
        display: $display;
        margin: $margin;
    }
}

@mixin button($bg-color, $br-color:unset, $br-radius:unset, $fn-color, $width:unset, $height:unset, $fn-size:unset) {
    background-color: $bg-color;
    border: none;
    border: 1px solid $br-color;
    border-radius: $br-radius;
    color: $fn-color;
    width: $width;
    height: $height;
    font-size: $fn-size;
}

@mixin button-hover($bg-color, $fn-color) {
    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        color: $fn-color;
    }
}