@use '../base/variables';
@mixin desktop-view ($width, $height: unset, $fn-size:unset) {
    @media (min-width: 1440px) {
        width: $width;
        height: $height;
        font-size: $fn-size;
    }
}

@mixin button($bg-color, $br-color:unset, $fn-color, $width, $height:unset, $br-radius:unset) {
    background-color: $bg-color;
    border: none;
    border: 1px solid $br-color;
    border-radius: $br-radius;
    color: $fn-color;
    width: $width;
    height: $height;
}

@mixin button-hover($bg-color) {
    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        color: variables.$secondary_fonts;
    }
}