@use '../base/variables';

@mixin laptop-view ($width, $height: unset, $fn-size:unset, $top:unset) {
    @media (min-width: 760px) {
        width: $width;
        height: $height;
        font-size: $fn-size;
        top: $top;
    }
}

@mixin desktop-view ($width, $height: unset, $fn-size:unset, $top:unset) {
    @media (min-width: 1280px) {
        width: $width;
        height: $height;
        font-size: $fn-size;
        top: $top;
    }
}

@mixin margins-desk( $marginb: unset, $top) {
    @media (min-width: 1440px) {
        margin-bottom: $marginb;
        top: $top;
    }
}

@mixin button($bg-color, $br-color:unset, $br-radius:unset, $fn-color, $width:unset, $height:unset, $fn-size:unset) {
    background-color: $bg-color;
    border: none;
    border: 1px solid $br-color;
    border-radius: $br-radius;
    color: $fn-color;
    width: $width;
    height: $height;
    font-size: $fn-size;
}

@mixin button-hover($bg-color, $fn-color) {
    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        color: $fn-color;
    }
}

@mixin display($display,$direction,$justify:unset, $align:unset){
    display:$display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}