@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,100;1,500&display=swap');


:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;

    /* Colors */
    $main_light:#224F63;
    $secondary: #355F72;
    $background1: #D3F0F4;
    $background2: #3C99BA;
    

}