.about_us_container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about_text_para {
    text-align: justify;
    font-size: 1.25rem;
    @include mixins.media-up(lg) {
        padding: 0 15.6rem;
    }
}

h1,
.about_text_para {
    color: $main_fonts;
}