@use "../abstracts/mixins";

.adminPage {
  position: relative;
  @include mixins.display(flex, unset, center, flex-start);
  padding: 2rem;
}

//Acordeon
section.accordion_section {
  @include mixins.display(flex,column,unset,flex-start)
}
.acordeon {
  @include mixins.display(flex, column, unset, stretch);
  z-index: 1;
  width: 80vw;
  margin-top: 2rem;
}

button.accordion-button.collapsed{
  font-size: 1.5rem;
  color: $secondary_dark;
}

.accordion-button:not(.collapsed) {
  background-color: $secondary_background;
  font-size: 1.5rem;
  color: #fff;
}
/* .panel__item.accordion-item{
  border: 2px solid $secondary_dark;
} */


.section {
  @include mixins.display(flex, column, space-between, stretch);
  height: fit-content;
}

.form {
  @include mixins.display(flex, column, space-between, flex-start);
  height: 60%;
}
label.admin_title{
  @include mixins.labels($secondary_dark,3rem,600,unset,unset,unset);
}

.prop {
  @include mixins.display(flex, column, center, flex-start);
  width: 100%;
  height: 100%;
  gap: 1rem;



  &__category_input,
  &__state_input {
    @include mixins.form-inputs(1rem, $main_fonts, 100%, unset, 1.2rem, 1.5px solid $color1, 12px, 0px 0px 20px -18px, none);
    max-width: 220px;
    min-width: 150px;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &__category_input:hover,
  &__state_input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }

  &__category_input:active,
  &__state_input:active {
    transform: scale(0.95);
  }

  &__category_input:focus,
  &__state_input:focus {
    border: 2px solid grey;
  }

  &__adminBtn {
    @include mixins.secondary-btn;
    width: 35%;
    margin-left: 6rem;
    @include mixins.button-hover($main_fonts,$color10);
    @include mixins.media-up(md){
      width: 20%;
      margin-left: 3rem;
    }
    @include mixins.media-up(md){
      margin-left: 2rem;
    }
  }
  &__ordersViewBtn{
    @include mixins.secondary-btn;
    width: 35%;
    margin-top: 2rem;
    @include mixins.button-hover($main_fonts,$color10);
    @include mixins.media-up(md){
      width: 25%;
    }
    @include mixins.media-up(lg){
      font-size: 1rem;
    }
  }
}


.createProduct {

  // width: 90%;
  // border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: #3C99BA;
  // overflow: hidden;
  margin: 10px;
}

.formAdminProduct {
  margin: 2rem 0 0 0;

  border-radius: 4px;
  box-shadow: #3C99BA;
}
a.product_name_list{
  text-align: justify;
}
a.product_name_list:hover{
  color:$color6;
}
section.product_list{
  column-count: 2;
}
/* .updateProduct {} */

.card-header {
  background-color: #3C99BA;
  padding: 16px;
  text-align: center;
}

.card-header .text-header {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.card-body {
  padding: 16px;
}

.form-group {
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

 .product_input{
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    height: 3rem;
  }

.form-select {
  border: 1.5px solid lightgrey;
  outline: none;
  // transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  // height: 3rem;
}

.form-control:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.form-control:active {
  transform: scale(0.99);
}

.form-control:focus {
  border: 2px solid grey;
}

/* .btn {
  padding: 12px 24px;
  margin-left: 13px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #224F63;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer
}

.btn:hover {
  background-color: #ccc;
  color: #333;
} */