@use "../abstracts/mixins";

.adminPage{
  position: relative;
    @include mixins.display(flex,unset, center,unset);
    height: 100vh;
}
.acordeon{
    @include mixins.display(flex,column, unset, stretch);
    z-index: 1;
    width: 80vw;
    margin-top: 2rem;
}
.section{
    @include mixins.display(flex, column, space-between, stretch);
    height: fit-content;   
}

.form{
    @include mixins.display(flex, column, space-between, flex-start);
    height: 60%;
}
.prop{
    @include mixins.display(flex, column, center, flex-start);
    width: 50%;
    height: 100%;
    gap: 1rem;
    margin: 2rem 0 0 0;


    &__input{
        width: 100%;
        max-width: 220px;
        min-width: 150px;
        height: 45px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
    }

    &__input:hover {
        border: 2px solid lightgrey;
        box-shadow: 0px 0px 20px -17px;
      }
      
      &__input:active {
        transform: scale(0.95);
      }
      
    &__input:focus {
        border: 2px solid grey;
    }

    &__button{

        min-width: 150px;
        height: 3rem;
        border: none;
        border-radius: 8px;
        background: $secondary;
        color: $main_background;
        margin-top: 2rem;
        padding: .8rem;
    }
}

.createProduct {
    
    // width: 90%;
    // border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow:#3C99BA;
    // overflow: hidden;
    margin: 10px;
  }
  
.formAdminProduct {
    margin: 2rem 0 0 0;
    
  border-radius: 4px;
    box-shadow:#3C99BA;
}
.updateProduct {

}

  .card-header {
    background-color: #3C99BA;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    padding: 16px;
  }
  
  .form-group {
    gap: 1rem;
    margin: 1rem 0 1rem 0;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-control{
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    height: 3rem;
  }
  .form-select{
    border: 1.5px solid lightgrey;
    outline: none;
    // transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    // height: 3rem;
  }
  .form-control:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .form-control:active {
    transform: scale(0.99);
  }
  
    .form-control:focus {
    border: 2px solid grey;
}


  .btn {
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #224F63;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
  }
  
  .btn:hover {
    background-color: #ccc;
    color: #333;
  }

