@use "../base/variables";
@use "../abstracts/mixins";

.ofertaContainer {
  @include mixins.display(flex, unset, center, center);
  width: 100vw;
  height: 15vh;

  @media (min-width:698px) {
    height: 20vh;    
  }
  @media (min-width:1048px) {
    height: 25vh;    
  }
  @media (min-width:1350px) {
    height: 30vh;    
  }

  &__cont {
    @include mixins.display(flex, unset, center, center);
    gap: 1rem;
    width: 95%;
    height: 100%;
    border-radius: 1rem;
    background-color: $secondary_fonts;
    
  }

  

  &__oferta {
    @include mixins.display(flex, column, space-around, center);
    height: 60%;
  }
  &__des{
    font-size: 1.5rem
  }
  &__btn {
    @include mixins.button(
      variables.$color11,
      unset,
      5px,
      variables.$color10,
      90px,
      30px,
      14px
    );
    @include mixins.laptop-view(155px, 50px, 2rem, 2rem);
    display: block;
    margin: 0 auto;
  }
  &__h2 {
    color: variables.$text;
    font-size: 1rem;
    text-align: center;
    @include mixins.center(unset, unset, 3rem);
    @include mixins.center-tablet(unset, unset, 3rem);
  }
  &__span {
    display: block;
    margin: auto;
    color: variables.$color10;
    font-size: 1rem;
    text-align: center;
    @include mixins.center(block, 0 auto, 1.4rem);
    @include mixins.center-tablet(block, 0 auto, 1.4rem);
  }
}

.pictureCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 35vh;
  // background-size: contain;

  &__img {
    // object-fit: cover;
    width: 90%;
    max-width: 450px;
    @media (min-width:542px) {
      width: 60%;
      
    }
  }
}

// .bannerHome {
//     display: flex;
//     flex-direction: row;
//     background-color: variables.$secondary_fonts;
//     padding: 0.5rem;
//     @include mixins.desktop-view(unset, 250px);
//     &__img {
//         width: 35%;
//         @include mixins.desktop-viewXXL(28%, unset, unset, unset)
//     }
//     &__container {
//         @include mixins.center(block, 0 auto, unset);
//         @include mixins.center-tablet(block, 0 auto, unset);
//     }
//     &__btn {
//         @include mixins.button(variables.$color11, unset, 5px, variables.$color10, 90px, 30px, 14px);
//         @include mixins.laptop-view(155px, 50px, 2rem, 2rem);
//         display: block;
//         margin: 0 auto;
//     }
//     &__contText {
//         margin: 0.5rem 0;
//     }
//     &__h2 {
//         color: variables.$text;
//         font-size: 1rem;
//         text-align: center;
//         @include mixins.center(unset, unset, 3rem);
//         @include mixins.center-tablet(unset, unset, 3rem)
//     }
//     &__span {
//         display: block;
//         margin: auto;
//         color: variables.$color10;
//         font-size: 0.6rem;
//         text-align: center;
//         @include mixins.center(block, 0 auto, 1.4rem);
//         @include mixins.center-tablet(block, 0 auto, 1.4rem);
//     }
// }
