footer {
    background-color: #224F63;
    margin-top: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    .footer__contact {
        justify-content: space-between;
    }
    .footer_social_media {
        display: flex;
    }
}