@use "../base/variables";
@use "../abstracts/mixins";

.interestSection {
  width: 95vw;
  margin: 0 auto;
}

.interestCont {
  display: flex;
  width: 95%;
  max-width: 320px;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  padding: 20px, 20px, 40px;
  transition: 0.3s;
  border-radius: 1rem;

  div {
    text-align: center;
  }
  &__name{
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__Card {
    display: flex;
    // max-width: 320px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
  }
  &__img {
    width: 35%;
    max-width: 156px;
    max-height: 156px;
  }

  &__price{
    display: flex;
    align-items: center;
  }

  &__span{
    margin: 0;
    color: rgba(128, 128, 128, 0.811);
    font-size: 1rem;
    padding-left: .5rem ;
  }
  &__stock{
    display: flex;
    width: 100%;
  }

  &__valores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 1rem;
    width: 100%;
  }


}

.swiper-wrapper {
  gap: 0;
  margin-bottom: 2rem !important;
}
.swiper-pagination{
  margin-bottom: -1rem;
}
