.login_form_container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main_background;
}

.login_form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid $secondary_fonts;
    border-radius: 8px;
    padding: 24px 16px;
}

Form label {
    color: $secondary_fonts;
}

.login_form_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

.login_header_title {
    font-size: 2.8rem;
    margin: 0;
}

.form-control{
    padding: 1rem 0.5rem;
}

.text-muted.form-text {
    display: inline-flex;
    align-items: center;
}
.info_circle.md.hydrated {
    color: $main_dark;
}

.login_btn {
    margin: 1.5rem 0;
    padding: 1rem 0;
    background-color: $color8;
    border: none;
}

label.login_footer {
    text-align: center;
}
@media only screen and (min-width: 768px){
    .login_form {
        width: 30vw;
        height: 90vh;
    }
    

}
