/* .slide_container {
    width: 40%;
} */
/* .might_like_item_container { 
    width: 30vw;
    height: 35vh;
}
 */
//refactoriar
.might_like_item_body {
    background-color: $main_background;
    padding: 1rem 0.625rem;
}

.might_like_item_details {
    width: 100%;
    height: 100%;
}
.might_like_item_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    