@use '../base/variables';
@use '../abstracts/mixins';


.mutation{
    @include mixins.display(flex, column,unset, center);
    width: 100vw;
    height: 80vh; 
    
    &__container{
        @include mixins.display(flex, column, space-between, unset);
        width: 75%;
        margin-top: 5rem;
        z-index: 1;
    }
    &__title{
        margin-bottom: 2rem;
        @include mixins.display(flex, row,unset)
    }
    &__name{

        margin: 2rem;
    }
    &__submit{
        margin: 2rem;
        @include mixins.button(unset, unset, unset, white, unset, unset, unset);
        @include mixins.display(flex, center, unset);
    }
    &__button{
        min-width: 100px;
        height: 2.5rem;
        border: none;
        border-radius: 8px;
        background: $secondary_background;
        color: $main_background;
    }
    
}
