/* Component Container */

.productContainer {
	@include mixins.display(flex, row, space-evenly, center);
	flex-wrap: wrap;
	gap: 1rem;
	padding: 2rem;
	@include mixins.media-up(lg) {
		align-items: stretch;
	}
}

/* Category container */

.product_drinkware_container {
	@include mixins.display(flex, row, unset, center);
	flex-wrap: wrap;
}

a.product_item_container {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	@include mixins.display(flex, column, unset, center);
	width: 45%;
	margin: 1rem 0;
	@include mixins.media-up(md) {
		width: 30%;
	}
	@include mixins.media-up(lg) {
		width: 20%;
	}
	@include mixins.media-up(lg) {
		justify-content: space-evenly;
	}
}

img.product_image {
	@include mixins.images(80%, auto);
	padding: 1em;
}

label.product_item_name {
	@include mixins.media-up(md) {
		font-size: 1rem;
	}
    @include mixins.media-up(xl) {
		font-size: 1.4rem;
	}
    color: $main_dark;
    font-weight: 600;
	font-size: 1.6rem;
	margin-right: 1rem;
	text-align: right;
	width: 80%;
    padding-top: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

label.product_item_price {
	@include mixins.basic_fonts(
		$secondary_background,
		1.4rem,
		unset,
		1rem,
		unset
	);
}
