//desktop
.product_detail_desktop {
    display: none;
}

.product_detail_container {
    padding: 0 1.25rem;
}

//Product header
.product_rate_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rate_product_label {
    width: 100%;
    margin: 0.625rem 0;
}

.product_description {
    text-align: justify;
}

//image_section
.add_product_icon.md.hydrated {
    font-size: 1.875rem;
}


//might_like section
.might_like_swiper_container {
    margin: 3.75rem 0 1.25rem;
}

//footeer
.product_detail_footer_container {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
}

.product_price,
.product_delivery_label {
    margin: 0.5rem 0;
    color: $main_fonts;
}

.product_price {
    font-size: 2.188rem;
    font-weight: 500;
}

.product_free_ship_label {
    color: $color2;
}

//actions_buttons
.action_products_btns_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem 0;
}

button.add_product_btn,
button.buy_product_btn {
    width: 100%;
    margin: 0.625rem 0;
    height: 56px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    background: $secondary;
    color: $main_background;
}

@media only screen and (min-width: 768px) {

    //product_header
    .product_header_mobile,
    .product_detail_footer_container {
        display: none;
    }

    /* Product Detail Desktop */
    //section
    .product_detail_desktop {
        display: flex;
    }

    .product_details_desktop_container {
        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */
        margin: 0;
        max-width: 100vw;
    }

    .product_image_section,
    .product_detail_header,
    .buying_info_container {
       margin: 0 20px; 
    }

    .product_image_section,
    .product_detail_header {
        width: 60%;
    }
    
    .buying_info_container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border: 2px solid blue;
        border-radius: 8px;
        padding: 20px;
        width: 40vw;
    }

}