//display desktop view container
.product_detail_desktop {
    display: none;
    @include mixins.media-up(md) {
        display: flex
    }
}

//mobile view
.product_detail_container {
    @include mixins.display(flex,column,unset,unset);
    padding: 2rem;
        @include mixins.media-up(md){
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap
    }

}

section.product_header_mobile {
    @include mixins.display(flex, column, unset, center);
    @include mixins.media-up(md){
        width: 60%;
        flex-direction: row-reverse;
        align-items: stretch;
    }
}

section.product_image_section,
section.product_detail_header {
    @include mixins.media-up(md){
        @include mixins.display(flex,column,space-evenly,unset)
    }
}

section.product_detail_header {
    @include mixins.media-up(xl){
        justify-content: center;
    }
}



/* //Product header
.product_rate_section {
    @include mixins.display(flex, row, unset, center);
} */

label.title_label,
label.subtitle_label {
    @include mixins.labels($main_dark, 2.2rem, 600, 1rem 0, unset, 100%);
    text-align: justify;
    @include mixins.media-up(md) {
        font-size: 1.4rem;  
    }
    @include mixins.media-up(lg) {
        font-size: 1.8rem;
    }
    @include mixins.media-up(xl) {
        font-size: 2.5rem;
    }
}

.product_description {
    @include mixins.basic_fonts($main_fonts, 1.5rem, 0 0 2.4rem, unset, justify);
/*     @include mixins.media-up(sm) {
        font-size: 1.2rem;
    } */
    @include mixins.media-up(md) {
        font-size: 1rem;
    }
    @include mixins.media-up(lg) {
        font-size: 1.4rem;
    }
}
//image_section
section.product_image_section {
    @include mixins.media-up(md){
        width: 100%;
    }
    @include mixins.media-up(xl){
        width: 50%;
    }

}

.add_product_icon.md.hydrated {
    font-size: 2.4rem;
}

//might_like section
.might_like_swiper_section {
    margin: 2rem 0;
    @include mixins.media-up(md){
        width: 100%;
    }
}

//footeer
.product_detail_footer_section {
    @include mixins.display(flex, column, unset, unset);
    margin: 2rem 0;
}

label.product_price {
    @include mixins.labels($main_dark, 4rem, 600, unset, unset, unset);
    @include mixins.media-up(md) {
        font-size: 2rem
    }
    @include mixins.media-up(lg) {
        font-size: 3rem
    }
}
sup.currency {
    font-size: 1.8rem;
    font-weight: normal;
    padding: 0.5rem;
    top: -1.5rem;
    @include mixins.media-up(md) {
        font-size: 1.2rem;
        top: -0.5rem;
    }
    @include mixins.media-up(lg) {
        top: -1.2rem;
    }
}
label.stock_item {
    font-size: 2rem;
    @include mixins.media-up(md) {
        font-size: 1.2rem;
        margin: 0;
    }
    @include mixins.media-up(xl) {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
}

//actions_buttons
.action_products_btns_section {
    @include mixins.display(flex, column, unset, center);
    margin: 1.25rem 0;
}

button.add_product_btn {
    @include mixins.button($bg_btn1, unset, 8px, #fff, 85%, 40px, 1.25rem);
    margin: 0.625rem 0;
}

.product_details_desktop_container {
    @include mixins.display(flex, row, unset, stretch);
}

/* .buying_info_section {
    @include mixins.media-up(lg) {
        width: 350px;
    }
} */

.buying_info_section {
    @include mixins.display(flex, column, flex-start, stretch);
    @include mixins.media-up(md) {
        width: 35%;
    justify-content: unset;
    align-items: unset;
    padding: 1rem;
    }
    @include mixins.media-up(lg) {
        justify-content: space-evenly;
    }
}

.Product__containerPadd {
    @include mixins.order-desktop(flex, unset, unset, center, unset);
}

.btn_heart {
    border-radius: 45%;
    cursor:pointer;
}

select#qty {
    margin-left: 1.5rem;
}