@use '../base/variables';
@use '../abstracts/mixins';

.swiperReview{
    width: 70vw;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width:2560px) {
        width: 50vw;
        
    }

}


.reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    // width: 200px;
    // @include mixins.laptop-view(unset, unset, unset, unset);
    // @include mixins.laptop-view(290px, 240px);
    // @include mixins.desktop-view(400px, 350px);
    &__container {
        border: 1px solid variables.$secondary_background;
        /*  height: 30rem;
        width: 22.5rem; */
        /*  @include mixins.laptop-view(unset, unset, unset, unset) */
    }
    &__descContainer {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 11rem;
        height: 13rem;
    }
    &__desc{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__text {
        display: flex;
        flex-direction: column;
        // margin-top: 1rem;
        // text-align: center;
        // line-height: .3rem;
        // padding: 1rem;
    }
}

