@use "../base/variables";
@use "../abstracts/mixins";
.listCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    &__pay {
        display: flex;
        align-items: baseline;
        @include mixins.media-up(lg) {
            gap: 4rem;
        }
    }
    &__h2 {
        color: variables.$main_fonts;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        width: 10rem;
    }
    &__span {
        font-weight: bolder;
        margin-bottom: 2rem;
    }
    &__info {
        display: flex;
        @include mixins.desktop-view(unset, unset, 1.3rem, unset);
        justify-content: space-around;
    }
    &__labels {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        line-height: 2em;
        width: 30vw;
        @include mixins.media-up(xxl) {
            font-size: 1.8rem;
            line-height: 1.2em;
        }
    }
    &__confirmation {
        color: variables.$confirmation;
        font-weight: bold;
        font-size: 1.5rem;
        @include mixins.desktop-view(unset, unset, 1.5rem, unset);
    }
    &__desc {
        color: variables.$secondary_fonts;
        font-weight: 400;
        line-height: initial;
    }
    &__price {
        color: variables.$secondary_fonts;
        font-weight: 700;
    }
    &__stock {
        color: variables.$confirmation;
        font-weight: 600;
    }
    &__color {
        color: variables.$secondary_fonts;
    }
    &__contBtn {
        display: flex;
        /*  margin: auto;
        padding: 1rem */
    }
    &__deleteWishBtn {
        @include mixins.third-btn;
        font-size: 1rem;
        @include mixins.button-hover($main_fonts, $color10);
    }
    &__inputIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 25px;
        margin-bottom: 0;
        border-top: 1px solid variables.$secondary_background;
        border-bottom: 1px solid variables.$secondary_background;
        background: white;
        @include mixins.media-up(sm) {
            width: 36px;
            height: 25px;
        }
        @include mixins.media-up(md) {
            width: 36px;
            height: 40px;
        }
        @include mixins.media-up(lg) {
            height: 31px;
        }
        @include mixins.desktop-view(70px, 33px, 1.5rem, unset);
    }
    &__btnThird {
        width: 20%;
        @include mixins.button( variables.$secondary_background, variables.$secondary_background, 4px, variables.$color10, 5rem, 36px);
        @include mixins.desktop-view(120px, 40px, unset, unset);
    }
}

.createOrderCont {
    @include mixins.display(flex, row, center, unset);
    padding: 1.5rem;
    &__order {
        @include mixins.primary-btn;
    }
    &__order:active {
        background-color: $secondary_background;
    }
}

.shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$card-bg;
    width: 90vw;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    height: 30vh;
    @include mixins.media-up(sm) {
        height: 18vh;
    }
    @include mixins.media-up(md) {
        width: 50vw;
        height: 25vh;
    }
    @include mixins.media-up(xxl) {
        height: 24rem;
    }
    &__contImg {
        @include mixins.display(flex, column, space-around, center);
        width: 45%;
        gap: 4rem;
        @include mixins.media-up(md) {
            width: 40%;
            gap: 1rem;
        }
    }
    &__img {
        width: 50%;
        border-radius: 1rem;
    }
}

.addmenus {
    display: flex;
    &__btnIconPlus {
        @include mixins.display(flex, column, center, center);
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
        background-color: $secondary_background;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        font-size: 2rem;
        color: white;
        @include mixins.media-up(lg) {
            height: 2rem
        }
    }
    &__btnIconMenus {
        @include mixins.display(flex, column, center, center);
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        background-color: $secondary_background;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        font-size: 2rem;
        color: white;
        @include mixins.media-up(lg) {
            height: 2rem
        }
    }
}