@use "../base/variables";
@use "../abstracts/mixins";

.myswiper {
  justify-content: center;
  width: 90%;
}

.slide {
  display: flex;
  width: 100%;
  // justify-content: space-evenly;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media (min-width: 2560px) {
    display: flex;
    justify-content: center;
  }

  &__nameProduct {
    display: flex;
    flex-direction: column;
    // width: 30vw;
    height: 5vh;
    justify-content: space-evenly;

    @media (min-width: 978px) {
      display: flex;
      width: 35vw;
      height: 15vh;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    @media (min-width: 2560px) {
      font-size: 2rem;
    }
  }
  &__font {
    font-size: 1.4rem;

    @media (min-width: 978px) {
      font-size: 2rem;
    }
  }
  &__botons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
    gap: 1rem;
    margin-top: 0.2rem;
  }

  &__addBtn {
    @include mixins.banners-btns;
    @include mixins.button-hover(variables.$color9, variables.$color10);
    @include mixins.media-up(lg){
      font-size: 0.8rem;
    }
    @include mixins.media-up(xl){
      font-size: 1rem;
    }
  }
  &__addBtn:active {
    border: 1px solid black;
    color: black;
  }

  &__seeBtn {
    @include mixins.banners-btns;
    @include mixins.button-hover(variables.$color9, variables.$color10);
    @include mixins.media-up(lg){
      font-size: 0.8rem;
    }
    @include mixins.media-up(xl){
      font-size: 1rem;
    }
  }
  &__seeBtn:active {
    border: 1px solid black;
    color: black;
  }
  &__imgSlide {
    width: 30%;
    max-width: 420px;
  }
}

.addtoCartHome {
  &__input {
    display: none;
  }
}
