@use "../base/variables";
@use "../abstracts/mixins";

.myswiper {
  justify-content: center;
  width: 70%;
}

.slide {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  @media (min-width:978px) {
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

  &__nameProduct {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 5vh;
    justify-content: space-evenly;

    @media (min-width:978px) {
        display: flex;
        width: 25vw;
        height: 10vh;
    }

    
  }
  &__name {
    display: flex;
    flex-direction: column;
    width: 20vw;
    font-size: 1rem;
    font-weight: 600;
    @media (min-width:978px) {
      font-size: 2.0rem;
  }
  }
  &__{
    width: 100%;
  }
  &__botons {
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
    gap: 1rem;
  }

  &__btn {
    @include mixins.button(
      variables.$color9,
      variables.$color10,
      .5rem,
      variables.$color10,
      5rem,
      30px,
      9px
    );
    @include mixins.button-hover(variables.$color9, variables.$color10);
    @include mixins.desktop-view(130px, 45px, 1rem);
    
  }
  &__btn:active{
    border: 1px solid black;
    color: black;
  }

  &__btn2 {
    @include mixins.button(
      variables.$color9,
      variables.$color10,
      .5rem,
      variables.$color10,
      5rem,
      30px,
      9px
    );
    @include mixins.button-hover(variables.$color9, variables.$color10);
    @include mixins.desktop-view(130px, 45px, 1rem);
  }
  &__btn2:active{
    border: 1px solid black;
    color: black;
  }
  &__imgSlide {
    width: 30%;
    max-width: 420px;
    
  }
}

.addtoCartHome{
  &__input{
    display: none;
  }
}