@use "../base/variables";
@use "../abstracts/mixins";



.slide {
  display: flex;
  justify-content: space-around;
  align-items: center;


  &__nameProduct{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
  }
  &__name{
    display: flex;
    flex-direction: column;
    width: 35vw;
    font-size: 3rem;
    font-weight: 500;
  }
  &__font{
    // font-size: x-large;
  }
  &__btn {
    // @include mixins.button(variables.$color9, variables.$color10, 10px,  variables.$color10, 55px, 30px, 12px);
    // @include mixins.button-hover(variables.$color10, variables.$color9);
    // @include mixins.desktop-view(85px, 37px, 1rem);
    }
}
.imgSlide{
    width: 35%;
    // min-width: 100px;
    max-width: 470px;
    // min-width: 150px;
}


// .slideHome {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &__img {
//         height: 150px;
//         width: 150px;
//         @include mixins.desktop-view(250px, 250px)
//     }
//     &__btn {
//         @include mixins.button(variables.$color9, variables.$color10, 10px,  variables.$color10, 55px, 30px, 12px);
//         @include mixins.button-hover(variables.$color10, variables.$color9);
//         @include mixins.desktop-view(85px, 37px, 1rem)
//     }
//     &__btn2 {
//         @include mixins.button(variables.$color9, variables.$color10, 10px, variables.$color10, 55px, 30px, 12px);
//         @include mixins.button-hover(variables.$color9, variables.$color10);
//         @include mixins.desktop-view(85px, 37px, 1rem)
//     }
//     &__text {
//         display: flex;
//         flex-direction: column;
//         width: 180px;
//         font-weight: bold;
//         font-size: 1em;
//         @include mixins.desktop-view(1010px, unset, 2.98em);
//         margin-bottom: 1rem;
//         @include mixins.margins-desk(2rem, unset);
//     }
// }