@use "../abstracts/mixins";

.user_profile_container {
    padding: 20px;
}

//Header_profile
.profile_header {
    @include mixins.display(flex, column, center, center);
    margin-bottom: 1.25rem;
}

label.welcome_label {
    @include mixins.labels($main_dark, 2.5rem, 600, unset, unset, unset);

    @include mixins.media-up(md) {
        font-size: 1.8rem
    }
}

label.admin_label {
    @include mixins.labels($third_background, 1.5rem, unset, unset, unset, unset);

    @include mixins.media-up(md) {
        font-size: 1.4rem
    }
}

//basic_info section
.basic_info_container {
    padding: 20px;
    border: 2px solid $color8;
    border-radius: 8px;

    @include mixins.media-up(md) {
        width: 60vw;
    }

    @include mixins.media-up(xl) {
        width: 50vw;
    }

}
label.profile_welcome_label{
    @include mixins.labels($secondary_dark,2.5rem,600, 0 0 0.5rem, unset,unset)
}
h2.basic_label {
    @include mixins.labels($main_fonts, 2rem, 600, 0, unset, unset);
}

small.basic_info_text.form-text {
    @include mixins.basic_fonts($color5, 1.2rem, unset, unset, justify);

    @include mixins.media-up(md) {
        font-size: 1rem
    }
}

.basic_info_header {
    @include mixins.display(flex, column, unset, stretch);
    margin-bottom: 1.25rem;
}

h2.info_title_header {
    color: $main_dark;
}

.basic_info_text {
    text-align: justify;
}

//Form group
.profile_info {
    border-bottom: 1px solid $main_dark;
    margin-bottom: 0.938rem;
}

//input group
label.input_label.form-label {
    margin: 0;
    font-size: 1rem;

    @include mixins.media-up(md) {
        font-size: 1rem;
    }

    @include mixins.media-up(xl) {
        font-size: 1.2rem;
    }
}

/* TODO: remove margin from input group,
    edit the !importan
*/
.mb-3.profile_input_group.input-group {
    margin-bottom: 0.313rem !important;
    align-items: center;
}

.btn_section_container {
    @include mixins.display(flex, row, center, center);
    margin-top: 2rem;
    gap: 1.5rem;
}

.select {
    border: none;
}

input.profile_input.form-control {
    @include mixins.basic_fonts($main_fonts, 1.4rem, unset, 0.313rem 0, -webkit-auto);
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;

    @include mixins.media-up(md) {
        font-size: 1.6rem;
    }

}

//profile actions button
button.edit_btn.btn.btn-primary,
button.delete_btn.btn.btn-primary {
    @include mixins.primary-btn;
    width: 70%;
    @include mixins.media-up(md){
        width: 50%;
    }
    @include mixins.button-hover($secondary_background,$color10);
}
button.update_btn.btn.btn-primary,
button.cancel_btn.btn.btn-primary{
    @include mixins.primary-btn;
    width: 40%;
    @include mixins.media-up(md){
        width: 30%;
    }
    @include mixins.button-hover($secondary_background,$color10);
}
