//items section
.wish_item_section.container {
    padding: 2rem;
}

section.wish_item_section {
    @include mixins.sections(unset,1rem 0,1rem, 1px solid $color1,8px);
/*     padding: 0.625rem;
    border: 1px solid $color1;
    border-radius: 8px;
    margin: 10px; */
}

//link
a.wish_item_container {
    @include mixins.display(flex,row,space-evenly,center);
    padding: 1rem;
}

section.wish_product_image_section {
    width: 30%;
}
.wish_image {
   @include mixins.images(100%,auto)
}

h6 {
    margin-bottom: 0.25rem;
    text-align: justify;
}

.product_delivery {
    font-size: 0.75rem;
}

//buttons
.wish_btns_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.938rem;
    
}
a.add_to_cart_btn.btn.btn-primary,
a.delete_product_btn.btn.btn-primary {
    @include mixins.button($secondary_fonts, unset, 8px, $main_background, 40%, unset, 0.75rem);
    padding: 0.313rem;
}


