//items section
.wish_item_section.container {
    @include mixins.display(flex,column,unset,center);
    padding: 2rem;
    gap: 2rem;
}

section.wish_item_section {
    @include mixins.sections(100%,0 0 2.5rem, 1rem, 1px solid $color1,8px);
    @include mixins.media-up(sm){
        width: 80%;
    }
    @include mixins.media-up(xl){
        width: 65%;
    }
}

//link
a.wish_item_container {
    @include mixins.display(flex,row,space-evenly,center);
}

label.wish_header {
    
    @include mixins.labels($secondary_dark,3rem,unset, 0 0 1rem, unset,100%);
    font-style: italic;
    @include mixins.media-up(md){
        font-size: 2rem;
    }
}

section.wish_product_image_section {
    width: 40%;
}
.wish_image {
   @include mixins.images(100%,auto)
}

section.wish_description {
    @include mixins.display(flex,column,unset,unset);
    @include mixins.media-up(sm){
        width: 100%;
    }
}

label.item_name {
    @include mixins.labels($main_dark,1.4rem,600,0,0.5rem);
    text-align: justify;
    @include mixins.media-up(sm){
        font-size: 2rem
    }
    @include mixins.media-up(md){
        font-size: 1.6rem
    }
}
label.item_price {
    @include mixins.basic_fonts($color2,1.2rem,0, 0.5rem,justify);
    text-align: justify;
    @include mixins.media-up(sm){
        font-size: 1.8rem
    }
    @include mixins.media-up(md){
        font-size: 1.4rem
    }
}

//buttons
.wish_btns_container {
    @include mixins.display(flex,row, center,center); 
    
}
a.delete_product_btn.btn.btn-primary {
    @include mixins.button($secondary_fonts, unset, 8px, #fff, 40%, unset, 1.2rem);
    margin: 0;
    padding: 0.5rem;
    @include mixins.media-up(sm){
        width: 25%;
        margin-left: 4rem;
    }
}


